:root {
    --c-silver: #cab7b0;
    --c-dslategray: #2a2d32;
    --c-ddslategray: #17181b;
    --c-shadow: #674722;
    --c-lshadow: #94632b;
    --c-dwhitesmoke: #dcd6d6;
    --c-whitesmoke: #f7f5f5;
    --c-lwhitesmoke: #faf2f2;
    --c-lraspberrysorbet: #d24d7b;
    --c-raspberrysorbet: #e02667;
    --c-draspberrysorbet: #d51357;
    --c-ddraspberrysorbet: #c70448;
    --c-dddraspberrysorbet: #ac003c;
    --c-marigold: #ffaf53;
    --c-dmarigold: #eda24c;
    --c-ddmarigold:#de923b;
    --c-frenchblue: #347fbc;
    --c-dfrenchblue: #28689d;
    --c-ddfrenchblue: #1c507b;
    --c-white: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--c-whitesmoke);
    font-family: 'Poppins', sans-serif;
    color: var(--c-ddslategray);
    height: 100vh;
}

.techblog-navigation {
    background-image: linear-gradient(var(--c-dslategray), var(--c-ddslategray));
}

.navbar-logo {
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    text-shadow: 0.5px 1px var(--c-lshadow);
}

.custom-toggles .navbar-toggles-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggles .navbar-toggles {
    border-color: var(--c-raspberrysorbet);
    border-width: medium;
} 

main {
    padding-top: 8rem;
    padding-bottom: 9rem;
    width: 100vw;
}

a:link,
a:visited,
a:hover,
a:active { 
    text-decoration: none !important;
    color: var(--c-silver) !important;
}

a:link span,
a:visited span,
a:hover span,
a:active span { 
    color: var(--c-dfrenchblue) !important;
}

h2,
h3, 
h4, 
h5 {
    font-family: 'Oswald', serif;
    color: var(--c-marigold)
}

.allmy-articles {
    background-image: linear-gradient(var(--c-dslategray), var(--c-ddslategray));
    padding: 1em;
    border-radius: 6px;
}

.card {
    background: var(--c-whitesmoke);
    transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.4s box-shadow,.4s -webkit-transform cubic-bezier(.155,1.105,.295,1.12); 
    opacity: 1;
    box-shadow: 6px 11px 26px rgb(107, 74, 35);
    color: var(--c-ddslategray);
}

.card:hover {
    transform: scale(1.003);
    border-color: var(--c-whitesmoke);
    opacity: 2;
    box-shadow: 11px 16px 26px #644420;
}

.card-body {
    color: var(--c-ddslategray);
}

.card.view-card:hover {
    opacity: 2;
}

.card-header {
    color: var(--c-silver) !important;
    background-color: var(--c-dslategray) !important;
}

.card-header:hover {
    background-image: linear-gradient(var(--c-dslategray), var(--c-ddslategray));
}

.signinForm.label {
    color: var(--c-dslategray)
}

.comments {
    background-color: var(--c-white);
    border: 2px solid var(--c-dwhitesmoke);
    padding: 2em;
}

.comment {
    border-radius: 11px;
    padding: 2em;
    background-color: var(--c-dwhitesmoke);
}

.edit-btns-comments {
    background-color: var(--c-dwhitesmoke);
    color: var(--c-raspberrysorbet);
    margin: -3em 0 0 0;
    padding: 0 0 0 2em;
    border-radius: 11px;
    text-align: end;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    color: var(--c-whitesmoke) !important;
    background-color: var(--c-raspberrysorbet);
    border: .2em solid var(--c-draspberrysorbet);
    border-radius: 11px;
    box-shadow: 9px 11px 11px var(--c-shadow);
    margin: .6em 2em 2em 0;
    cursor: pointer;
}

.btn-primary:hover {
    color: var(--c-whitesmoke) !important;
    background-color: var(--c-ddraspberrysorbet);
    border: .2em solid var(--c-dddraspberrysorbet);
    box-shadow: 9px 16px 11px var(--c-shadow);
    transform: scale(1.05);
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited {
    color: var(--c-whitesmoke) !important;
    background-color: var(--c-dmarigold);
    border: .2em solid var(--c-ddmarigold);
    border-radius: 11px;
    box-shadow: 9px 11px 11px var(--c-shadow);
    margin: .6em 2em 2em 0;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--c-dmarigold);
    border: .2em solid var(--c-ddmarigold);
    box-shadow: 9px 16px 11px var(--c-shadow);
    transform: scale(1.05);
}

.btn-warning,
.btn-warning:active,
.btn-warning:visited {
    color: var(--c-whitesmoke) !important;
    background-color: var(--c-frenchblue);
    border: .2em solid var(--c-dfrenchblue);
    border-radius: 11px;
    box-shadow: 9px 11px 11px var(--c-shadow);
    margin: .6em 2em 2em 0;
    cursor: pointer;
}

.btn-warning:hover {
    background-color: var(--c-dfrenchblue);
    border: .2em solid var(--c-ddfrenchblue);
    box-shadow: 9px 16px 11px var(--c-shadow);
    transform: scale(1.05);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 4pt solid var(--c-raspberrysorbet);
}

.footer p {
    padding-top: 2em;
    color: var(--c-silver);

}

.cmb-contact {
    background-image: linear-gradient(var(--c-dslategray), var(--c-ddslategray));
    color: var(--c-silver);
}

.cmb-madeforyou {
    background-color: var(--c-raspberrysorbet);
    color: var(--c-silver);
}

/*MediaQueries*/
@media screen and (max-width: 281px){
    main {
    padding-top: 9rem;
}
}

@media all and (max-width:767px) {
    .tablewrap tr { display: table;  width:100%; }
    .tablewrap td { display: table-row; }
}